# node_modules
node_modules/

# build outputs
dist/
build/

# temporary files
tmp/
temp/
tmp.*
temp.*
*.tmp
*.temp

# misc files
misc/

# log files
logs/
*.log

# editor configs
.vscode/
.idea/

# lock files
package-lock.json
pnpm-lock.yaml
yarn.lock
