@import "./variables.scss";

// TODO: generate below code from variables.scss with function
body.body--light {
  --q-primary: #{$primary-light};
  --q-secondary: #{$secondary-light};
  --q-positive: #{$positive-light};
  --q-negative: #{$negative-light};
  --q-accent: #{$accent-light};
  --q-foil: #{$foil-light};
  --q-info: #{$info-light};
  --q-warning: #{$warning-light};
  --q-error: #{$error-light};
  --q-disable: #{$disable-light};
}
body.body--dark {
  --q-primary: #{$primary-dark};
  --q-secondary: #{$secondary-dark};
  --q-positive: #{$positive-dark};
  --q-negative: #{$negative-dark};
  --q-accent: #{$accent-dark};
  --q-foil: #{$foil-dark};
  --q-info: #{$info-dark};
  --q-warning: #{$warning-dark};
  --q-error: #{$error-dark};
  --q-disable: #{$disable-dark};
}
body {
  --q-dark: #{$dark};
  --q-dark-page: #{$dark-page};
}
.bg-foil {
  background-color: var(--q-foil) !important;
}
.text-foil {
  color: var(--q-foil) !important;
}
.bg-error {
  background-color: var(--q-error) !important;
}
.text-error {
  color: var(--q-error) !important;
}
.bg-disable {
  background-color: var(--q-disable) !important;
}
.text-disable {
  color: var(--q-disable) !important;
}
