@use "sass:map";

// used for light mode
$light-colors: (
  primary: #1976d2ff,
  secondary: #f0f0f0ff,
  positive: #21ba45ff,
  info: #31ccecff,
  warning: #f2c037ff,
  negative: #c10015ff,
  accent: #9c27b0ff,
  ignore: #afafafaf,
  disable: #efefefef,
  foreground: #000000ff,
  background: #ffffffff,
);
body.body--light {
  @each $name, $color in $light-colors {
    --ui-#{$name}: #{$color};
  }

  color: map.get($light-colors, foreground);
  background-color: map.get($light-colors, background);
}

// used for dark mode
$dark-colors: (
  primary: #10253fb2,
  secondary: #10253fff,
  positive: #21ba45ff,
  info: #31ccecff,
  warning: #f2c037ff,
  negative: #c10015ff,
  accent: #00e0ffff,
  ignore: #4f4f4f4f,
  disable: #1212124f,
  foreground: #ffffffff,
  background: #040b22ff,
);
body.body--dark {
  @each $name, $color in $dark-colors {
    --ui-#{$name}: #{$color};
  }

  color: map.get($dark-colors, foreground);
  background-color: map.get($dark-colors, background);
}

// warpped with class
@each $name, $_ in $dark-colors {
  .bg-#{$name} {
    background-color: var(--ui-#{$name}) !important;
  }
  .text-#{$name} {
    color: var(--ui-#{$name}) !important;
  }
}
