input::placeholder,
textarea::placeholder {
  color: var(--ui-ignore) !important;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--ui-primary);
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: var(--ui-secondary);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: var(--ui-info);
}

.ui-icon {
  cursor: pointer;
  &:hover {
    color: var(--ui-accent);
  }
}
