@mixin link {
  text-decoration: none;
  color: var(--q-positive);
  cursor: pointer;
}
.ui-link {
  @include link;
  &:hover {
    color: var(--q-accent);
  }
}
.ui-router-link {
  @include link;
}

@mixin icon {
  cursor: pointer;
  color: var(--q-positive);
}
.ui-icon {
  @include icon;
  &:hover {
    color: var(--q-accent);
  }
}
