$primary-light: #1976d2ff;
$secondary-light: #26a69aff;
$positive-light: #21ba45ff;
$negative-light: #c10015ff;
$accent-light: #9c27b0ff;
$foil-light: #ffffff73;
$info-light: #31ccecff;
$warning-light: #f2c037ff;
$error-light: #c10015ff;
$disable-light: #040b22ff;

$primary-dark: #10253fb2;
$secondary-dark: #10253fff;
$positive-dark: #ffffffff;
$negative-dark: #ffffff0d;
$accent-dark: #00e0ffff;
$foil-dark: #ffffff73;
$info-dark: #068295ff;
$warning-dark: #f2c037ff;
$error-dark: #c10015ff;
$disable-dark: #040b22ff;

// used for quasar internal dark mode
$dark: #10253fb2;
$dark-page: #040b22ff;
